# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# idea Folder
api-node.iml
modules.xml
vcs.xml

# node modules
node_modules





